header {
    background-color: rgb(82, 14, 145);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(87, 216, 207);
    font-weight: bold;
    
}
main {
    background-color:lightgrey;
    padding: 1em;
}
body {
    background-image: url("../assignment/record.png");
    background-repeat: repeat;
    margin: 0;

}